.auth-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
      align-self: flex-end;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  button {
    align-self: flex-end;
  }
  h3 {
    align-self: center;
  }
}

.auth-form > * {
    margin: 5px;
}
