$primary: #26c6da;
$primary-light: #6ff9ff;
$primary-dark: #0095a8;
$primary-text: #000000;
$secondary: #546e7a;
$secondary-light: #819ca9;
$secondary-dark: #29434e;
$secondary-text: #ffffff;

$app-font: futura-pt, sans-serif;
$app-font-style: normal;
$app-font-weight: 300;